<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alzsafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/7.0.1-1/tachyons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>


    <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand mk" href="/"><img src="{{url_for('static',filename='logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"style="color: black;" href="/">Home</a>
            </li>
          </ul>
        </div>
    </nav>


    <h1>Analog Clock</h1>

 <p id="comment"></p>
      <main class="main">
     <div class="clockbox">
         <svg id="clock" xmlns="http://www.w3.org/2000/svg" width="600" height="600" viewBox="0 0 600 600">
             <g id="face">
                 <circle class="circle" cx="300" cy="300" r="253.9"/>
                 <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"/>
                 <circle class="mid-circle" cx="300" cy="300" r="16.2"/>

             </g>
             <g id="hour">
                 <path class="hour-arm" d="M300.5 298V142"/>
                 <circle class="sizing-box" cx="300" cy="300" r="253.9"/>
             </g>
             <g id="minute">
                 <path class="minute-arm" d="M300.5 298V67"/>
                 <circle class="sizing-box" cx="300" cy="300" r="253.9"/>
             </g>
             <g id="second">
                 <path class="second-arm" d="M300.5 350V55"/>
                 <circle class="sizing-box" cx="300" cy="300" r="253.9"/>
             </g>
         </svg>
     </div><!-- .clockbox -->
 </main>
 <br>
 <form class="" action="/clock" method="post">
   <input id="ans" type="text" name="ans" value="" hidden>
   <button type="submit" name="button" id="btn" hidden></button>
 </form>
 <p>Enter the time: <input type="text" id="time" name="Time" placeholder="Hr.." value=""> : <input type="text" id="time2" name="Time" placeholder="Min.." value=""></p>
 <button type="button" name="button" onclick="check()">check</button>

 <script src="{{url_for('static',filename='script.js')}}"></script>

 <center>
   <footer id="footer" class="white-section">
     <p>© Copyright 2022 Alzsafe</p>
   </footer>
 </center>

  </body>
  </html>
