<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alzsafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/7.0.1-1/tachyons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>


    <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand mk" href="/"><img src="{{url_for('static',filename='logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"style="color: black;" href="/">Home</a>
            </li>
          </ul>
        </div>
    </nav>

    <h1 style="text-align: Center; padding-bottom: 20px;">Image Test</h1>
      <center>
     <img src="{{url_for('static',filename='img.jpg')}}" alt="" width="400" height="500">

     <br>
     <br>
     <form class="" action="/image" method="post">
       <input type="text" name="hidd" value="{{ name }}" hidden>
       <p>Enter what you see in the above picture:  <input type="text" name="name" value="" ></p>
       <button type="submit" class="btn1">Submit</button>
     </form>

     {% if check != "null" %}
     <h3> {{ check }}</h3>
     {% endif %}
      </center>


      <!-- Footer -->
      <center>
        <footer id="footer" class="white-section">
          <p>© Copyright 2022 Alzsafe</p>
        </footer>
      </center>
</body>
<script type="text/javascript">
     var word1 = '{{w1}}'
     var word2 = '{{w2}}'
     window.alert(word1+"   "+word2)
</script>
</html>
