<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Alzsafe</title>
  <!-- broweser bar icon -->
  <link rel="icon" href="{{url_for('static',filename='bar.png')}}" type="image/gif">
  <!-- fontawesome for icons -->
  <script src="https://kit.fontawesome.com/72212fbbc6.js" crossorigin="anonymous"></script>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <!-- CSS stylesheets -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <!-- script for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</head>

<body>

  <section id="title" class="colored-section">
    <div class="container-fluid">


      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand mk" href="/"><img src="{{url_for('static',filename='logo.png')}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link"style="color: black;" href="/forum/page1">Forum</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" href="/results">Model</a>
            </li>
            {% if session.role != None %}
            <li class="nav-item">
              <a class="nav-link" style="color: black;" href="/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col-lg-6">
          <h1 class="Big-heading">One place to Test and Treat your Alzheimer's</h1>
          <button type="button" class="btn btn-light btn-lg download-btn" onclick="window.location.href='/image'"><img src="{{url_for('static',filename='ts.png')}}" style="width:50px;"> Take Test</button>
        </div>
        <div class="col-lg-6 ">
          <img class="title-image" src="{{url_for('static',filename='doc.png')}}" alt="iphone-mockup">
          <img class="title-image2" src="{{url_for('static',filename='doc2.png')}}" alt="iphone-mockup">
        </div>
      </div>

    </div>
  </section>


  <!-- Features -->
  <section id="features" class="white-section">
    <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Easy to use.</h3>
        <p>Access with full ease</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Elite Clientele</h3>
        <p>We have all the dogs, the greatest dogs.</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Guaranteed to work.</h3>
        <p>Find the love of your dog's life or your money back.</p>
      </div>
    </div>
    </div>
    </section>

  <!-- Testimonials -->

  <section id="testimonials" class="colored-section">
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonial-text">We believe communicating effectively with someone with Alzheimer’s is not just about using language, it is connecting through their senses such as touch, visual cues and sound</h2>
          <img class="testimonial-image" src="{{url_for('static',filename='pro1.jpeg')}}" alt="dog-profile">
          <em>Peter Ross, CEO & co-founder of Senior Helpers</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonial-text">“Release in your mind who your loved one used to be and accept who they are today.”</h2>
          <img class="testimonial-image" src="{{url_for('static',filename='pro2.jepg')}}" alt="lady-profile">
          <em>J. Rusnak, PhD</em>
        </div>
      </div>

      <a class="carousel-control-prev" role="button" href="#testimonial-carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" role="button" href="#testimonial-carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>





  </section>

  <!-- Features -->
  <section id="features" class="white-section">
    <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <img src="{{url_for('static',filename='abt.png')}}" style="width: 400px;position: relative;left: -233px;top: 51px;">

      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl dui, auctor ac accumsan nec, tempus eget magna. Donec at interdum dui. Cras et tristique ex. Vestibulum rutrum ligula et condimentum posuere. Aenean nisi nisl, lobortis sit amet gravida eu, lobortis nec libero. Donec euismod nibh nec arcu vestibulum suscipit. Aliquam erat volutpat. In id molestie ipsum.

        Pellentesque molestie ligula at vestibulum blandit. Donec risus turpis, iaculis ut felis sed, bibendum finibus massa. Praesent tempus vestibulum mauris, et suscipit ex dictum vitae. Ut eget dictum purus. Etiam efficitur aliquam vestibulum. Vestibulum pellentesque luctus ultricies. Vestibulum viverra enim semper erat pretium efficitur. Maecenas pulvinar dolor a dignissim tempus. In hendrerit porttitor sapien a ullamcorper.
        </p>

    </div>
    </div>
    </section>




  <!-- Call to Action -->
  <section id="cta" class="colored-section">
   <div class="container-fluid">
   <h3 class="Big-heading">Join our community <br> help Yourself</h3>
   <button type="button" class="btn btn-dark btn-lg download-btn" onclick="window.location.href='/login'"><i class="fab fa-login"></i> Login</button>
   <button type="button" class="btn btn-lg btn-light download-btn" onclick="window.location.href='/signup'"><i class="fab fa-signup"></i> SignUp</button>
   </div>
  </section>


  <center>
    <footer id="footer" class="white-section">
      <p>© Copyright 2022 Alzsafe</p>
    </footer>
  </center>
</body>

</html>
